{% extends 'base.html' %}
{% load static %}

{% block title %}Login{% endblock %}

{% block content %}
<h2>Login</h2>
<form method="POST" class="text-white">
  {% csrf_token %}
  <label>Username:</label><br>
  <input type="text" name="username"><br><br>
  <label>Password:</label><br>
  <input type="password" name="password"><br><br>
  <button type="submit">Login</button>
  <p>Not registered yet? <a href="{% url 'register' %}">Register here</a></p>
</form>



{% if messages %}
  {% for message in messages %}
    <p>{{ message }}</p>
  {% endfor %}
{% endif %}
{% endblock %}